h1 {
    font-family: Yellowtail;
}

h2 {
    color:mediumvioletred;
    font-family: Dancing Script;
}

.heading2 {
    border: 4px dashed green;
    padding: 10px;
}

#paragraph2 {
    color:rebeccapurple;
    font-family: Architects Daughter;
}

body {
    background-color:yellow;
}

p {
    color:palegoldenrod;
    font-weight: bold;
}

ul {
    font-style: italic;
    background-color: yellow;
}

li:hover {
    background-color: green;
}